*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    background-color: #222;
}
.card{
    width: 80%;
    max-width:350px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 8px 10px;
    border-radius: 30px;
    flex: 1;
    margin-right: 5px;
    font-size: 15px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.search button img{
    width: 14px; 
}
.weather-icon{
   width: 170px;
   margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
}
.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}
.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* media query */

@media (max-width: 425px) {
    .card {
        padding: 20px 10px;
    }

    .search input {
        font-size: 16px;
        padding: 6px 8px;
    }

    .search button {
        width: 28px;
        height: 28px;
    }

    .search button img {
        width: 10px;
    }

    .weather-icon {
        width: 140px;
        margin-top: 20px;
    }

    .weather h1 {
        font-size: 40px;
    }

    .weather h2 {
        font-size: 25px;
    }

    .details {
        flex-direction: column;
        padding: 0;
    }

    .col {
        margin-bottom: 15px;
    }

    .col img {
        width: 30px;
    }

    .humidity, .wind {
        font-size: 18px;
    }
}